<div class="flex flex-col items-center my-8">
    <img src="../../assets/img.jpeg" alt="Your Name" class="w-24 h-24 rounded-full shadow-lg mb-4">
    <h1 class="text-2xl font-semibold">Olivier Chodura</h1>
    <p class="text-gray-700 text-xl">olus.progr</p>
  </div>
  
  <div class="space-y-4 w-full max-w-xs mx-auto">
    <a href="https://www.instagram.com/olus.progr/?hl=en" class="flex items-center justify-center py-3 rounded-lg bg-pink-400 hover:bg-pink-500 transition">
      <i class="fab fa-instagram mr-2"></i> Follow me on Instagram
    </a>
    <a href="https://github.com/olusprogr" class="flex items-center justify-center py-3 rounded-lg bg-zinc-400 hover:bg-zinc-500 transition">
      <i class="fab fa-twitter mr-2"></i> Follow me on Github
    </a>
    <a href="https://olivier-chodura-full-stack-developer.onrender.com" class="flex items-center justify-center py-3 rounded-lg bg-sky-500 hover:bg-sky-600 transition">
      <i class="fab fa-linkedin-in mr-2"></i> My Portfolio
    </a>
    <a href="https://discord.com/invite/tzpPhvuJ" class="flex items-center justify-center py-3 rounded-lg bg-cyan-600 hover:bg-cyan-700 transition">
      <i class="fab fa-github mr-2"></i> My Discord
    </a>
    <a href="https://savesphere.onrender.com" class="flex items-center justify-center py-3 rounded-lg bg-blue-300 hover:from-blue-400 transition">
      <i class="fab fa-youtube mr-2"></i> SaveSphere
    </a>
  </div>


  <body>
    <div>
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>
    </div>
  </body>
  